.premiumBtn {
    position: fixed;
    bottom: 0;
    left: 0; 
    z-index: 100;
    width: 10em;
    @include hd {
        display: none;
    }
    &:hover > .premiumBtn__txt{
        color: $hover-DColor;
        transition-property: color;
        transition-duration: 1.5s;
    }
    &__txt {
        position: absolute;
        z-index: 105;
        bottom: 0;
        left: 0;
        text-transform: uppercase;
        color: $scnd-DColor;
        font-size: 0.75em;
        font-weight: bold;
        width: 11.5em;
        height: 2.3em;
        display: grid;
        place-content: center;
    }
}