.aboutNL {
    text-align: center;
    height: 200vh;
    background: url(media/bg_intro.png);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    letter-spacing: 0.08em;
    &__intro, &__changes {
        height: 100vh;
        width: 45%;
        margin: auto;
        display: grid; 
        place-content: center;
        .intro__title, .changes__title {
            color: $main-DColor;
            text-transform: uppercase;
            font-size: 2em;
            line-height: 2em;
        }
        .intro__parraph, .changes__parraph {
            color: $scnd-DColor;
            margin: 3.5em 0;
            padding: 0 3em;
            line-height: 1.7em;
        }
    }
}

.title__deg {
    display: block;
    background: linear-gradient(180deg, #EFB938 0%, #FBFAF7 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    font-size: 1.1em;
}


.changes__bgFight {
    position: absolute;
    bottom: 0;
    width: 33em;
}

.changes__bgFight--right  {
    right: 0
}

.changes__bgFight--left  {
    left: 0
}


