.userProfile {
    width: 33em;
    padding: 5em 0 3em 0;
    display: grid;
    place-content: center;
    background: #0000001c;
    border-radius: 0.2em;
    border: 0.1em solid #0000;
    border-image: linear-gradient(90deg, #80353f 0, #4943bb);
    border-image-slice: 1;
    position: relative;
    .user__avatar {
        position: absolute;
        width: 6em;
        height: 6em;
        background-clip: padding-box;
        border-radius: 50%;
        top: -3em;
        right: 0;
        left: 0;
        margin: auto;
        cursor: pointer;
        img {
            &:hover {
                opacity: 50%;
            }
        }
        &::before {
            content: '';
            position: absolute;
            top: 0; right: 0; bottom: 0; left: 0;
            margin: -0.15em;
            border-radius: inherit;
            background: linear-gradient(to right, #80353f, #4943bb);
        }
        .avatar {
            border-radius: 100%;
            position: absolute;
            top: 0;
            right: 0;
            left: 0;
            bottom: 0;
        }
    }
    .user__info {
        color: $main-DColor;
        text-transform: uppercase;
        letter-spacing: 0.075em;
        text-shadow: 0.075em 0.075em 0.1em #4d4d4d;
        .nlCoins {
            color: #564040;
            width: 80%;
            height: 2em;
            background: #ece6c3;
            border: none;    
            text-transform: uppercase;
            font-weight: 600;
            cursor: pointer;
            margin: 1em auto;
            &:hover {
                background: none;
                border: 0.08em solid #ece6c3;
                color: #ece6c3;
            }
        }
        .teams {
            border: 0.1em solid #0000;
            border-image: linear-gradient(90deg, #38274900 5%, #e9e6c4ab 50%, #7d4baf03 95%);
            border-image-slice: 1;
            border-right: none;
            border-left: none;
            margin: 1.25em 0 1em 0;
            padding: 0.75em 0;
        }
        span {
            color: #eee6c5;
        }
        span.Noble {
            color: #f3473b;
        }
        span.Baron {
            color: #c7c7c7;
        }
        span.Hero {
            color: #ffbe28;
        }
        span.Sponsor {
            color: #88ecff;
        }
        span.Outstanding {
            color: #49ff78;
        }
        span.GOD {
            color: #ffdc00;
        }
        .actions {
            margin-top: 1.5em;
        }   
    }
    
    @include btnC('changePsw', #1d14273d,#ece5c573,#1d14273d ,#ece5c5,18.5em,2.6em);
    .btnC-container {
        margin: 1em auto;
    }
}