.MuiTooltip-tooltip {
    background: linear-gradient(170deg, #242526 50%, #2d2d36 80%) !important;
    width: 35em !important;
    height: 10em !important;
    min-height: 10em !important;
    min-width: 35em !important;
    max-width: 35em !important;
    border: 0.1em solid transparent !important;
    border-image: linear-gradient(to bottom, #16161a 0%, transparent 100%) 1 !important;
}