.userPanel {
    height: 100vh;
    background-image: url(./media/bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    display: grid;
    place-content: center;
    text-align: center;
}






