.maps {
    height: 100vh;
    background-color: $bg-DColor;
    background-image: url(./media/mapsBg.png);
    background-repeat: no-repeat;
    background-size: cover;
    display: grid;
    place-content: center;
    text-align: center;
    text-shadow: 0.1em 0.2em 0.2em #121218;
    overflow: hidden;
    &__container {
        margin-bottom: 3em;
        .container__title {
            text-transform: uppercase;
            margin-bottom: 3em; 
        }
        .container__title, .leyend__title {
            font-size: 2em;   
            line-height: 2em;
        }
        .container__main {
            display: flex;
            gap: 7em;
            align-items: center;
            line-height: 1.6em;
            .main__inferno, .main__castles  {
                position: relative;
                 opacity: 85%; 
                cursor: pointer;
                filter: grayscale(0.35);
                span {
                    font-size: 2em;
                    line-height: 2em;
                    position: absolute;
                    top: 0;
                    left: 0;
                    bottom: 0;
                    right: 0;
                    display: grid;
                    place-content: center;
                }
            }
            .main__inferno:hover, .main__castles:hover {
                opacity: 100%;
                filter: grayscale(0.1);
                filter: drop-shadow(0em 0em 2.5em #3b3b3bb0 );
            }
            .inferno__btn, .castles__btn {
                width: 18em;
                position: relative;
            }
            .main__leyend {
                display: flex;
                flex-direction: column;
                align-items: center;
                .leyend__text {
                    font-size: 1em;
                    color: $scnd-DColor;
                }
            }
            .main__leyend::after, .main__leyend::before {
                content: ' ';
                width: 0.05em;
                height: 7.25em;
                background-color: rgba(251, 250, 247, 0.25);
                position: relative;
            }
            .main__leyend::after {
                bottom: -3em;
            }
            .main__leyend::before {
                top: -2.25em;
            }
        }
    }
}