@font-face {
    font-family: 'Beaufort';
    src: url('Beaufort Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
} 

@font-face {
    font-family: 'Beaufort';
    src: url('Beaufort Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}  