@include modalTemplate;

 .playModal {
    box-shadow: 0px 0px 12.1em #52587c52;
    border-radius: 1em;
    width: 58vw;
    height: 65.89vh;
    iframe {
       border-radius: 1em;
       opacity: 90%;
    }
 }

