.heroes {
    height: 100vh;
    position: relative;
    display: grid;
    place-content: center;
    background-image: url(./media/mainBg.png);
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    text-transform: uppercase;
    color: $bg-DColor;
    &__title {
        font-size: 2.5em;
        line-height: 2em;
    }
    &__leyend {
        font-size: 1.1em;
        line-height: 1.5em;
        margin-bottom: 25em;
        text-shadow: 0em 0.2em 0.5em #b0d3f1;
    }
}

@keyframes movement {
    100%{transform: translateX(2950px);}
}


.smokeEffect {
    position: absolute;
    z-index: 0;
    bottom: 0;
    width: 100vw;
    height: 17vh;
    overflow-x: hidden;
    .smoke {
        position: absolute;
        left: -300vw;
        height: inherit;
        width: 500vw;
        background-image: url(./media/smoke.png);
        background-repeat: repeat-x;
        -webkit-animation: movement 35s linear infinite;
        animation: movement 35s linear infinite;
    }
}





