$heightNav: 3.7em;

.navMain {
    height: $heightNav;
    background: {
        color: $bg-DScndColor;
        image: url(./media/navBg.png);
        repeat: no-repeat;
        size: cover;
    };
    position: fixed;
    z-index: 100;
    left: 0;
    right: 0;
    text-transform: uppercase;
    &__container {
        width: 80%;
        height: 100%;
        display: flex;
        align-items: center;
        margin: auto;
        gap: 0 2.5em;
        .container__logo {
            margin: auto;
            a {
                width: 9em;
                cursor: pointer;
            }
        }
        .container__menu {
            ol {
                display: flex;
                gap: 2.5em;
                a {   
                    color: $scnd-DColor;
                    &:hover {
                        color: $hover-DColor;
                    }
                }
            }
        }
        .container__user {
            display: flex;
            flex-grow: 1;
            justify-content: flex-end;
            height: 100%;
            align-items: center;
            .user__register, .user__login {
                padding: 0 2em;
                height: 100%;
                display: flex;
                align-items: center;
                a {
                    color: $scnd-DColor;
                    font-weight: 700;
                }
            }
            .user__register {
                background-color: $bg-DScndColor;
            }
            .user__login {
                border-right: 1px solid $bg-DScndColor;
            }
        }
    }
}

.menu__item {
    font-size: 0.9em;
}
.active {
    color: $main-DColor !important;
}