$heightNav: 3.7em;

.navMain {
    height: $heightNav;
    background: {
        color: $bg-DScndColor;
        image: url(./media/navBg.png);
        repeat: no-repeat;
        size: cover;
    };
    position: fixed;
    z-index: 100;
    left: 0;
    right: 0;
    text-transform: uppercase; 
    &__container {
        width: 80%;
        height: 100%;
        display: flex;
        align-items: center;
        margin: auto;
        gap: 0 2.5em;
        .container__logo {
            margin: auto;
            a {
                width: 9em;
                cursor: pointer;
            }
        }
        .container__menu {
            ol {
                display: flex;
                gap: 2.25em;
                a {   
                    color: $scnd-DColor;
                    &:hover {
                        color: #fad081;
                    }
                }
            }
        }

    }
}


.container__user {
    flex-grow: 1;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    .user__language {
        color: $scnd-DColor;
        font-size: 1.25em;  
        padding: 0 1.5em;
        font-weight: 600;
        cursor: pointer;
        transition: color 2s;
        &:hover {
            color: #fad081;
        }
    }
}

// USUARIO DESLOGEADO:
.user__loggedOut {
    display: flex;
    /* display: none; */
    height: inherit;
    align-items: center;
    .user__register, .user__login {
        height: 52.5%;
        display: flex;
        font-weight: 600;
        align-items: center;
    }
    .user__register {
        width: 9em;
        background: linear-gradient(180deg, #ffedb7 0, #ffb23ff5 121%);
        border-radius: 0.15em;
        cursor: pointer;
        &:hover {
            background: none;
            background: linear-gradient(180deg, #fce6b4 0, #fc8704e6 121%);
        }
        a {
            color: #14171f;
            font-weight: 700;
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
    .user__login {
        padding: 0 1.2em 0 2em;
        a {
            color: #fad081; 
            font-size: 1.2em;
            position: absolute;
            transition: color, font-size, .5s;
            &:hover {
                color: $main-DColor;
                font-size: 1.4em;        
            }
        }
    }
}

// USUARIO LOGEADO:
.user__logged {
    display: flex;
    display: none;
    color: $scnd-DColor;
    width: 15em;
    .logged__btn {
        height: 100%;
        width: 100%;
        background: linear-gradient(180deg, #1e2029 -43%, #14151c 100%);
        margin: auto;
        gap: 0.6em;
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: bold;
        cursor: pointer;
        &:hover {
            color: #fad081;
        }
        .fa-angle-down {
            width: min-content;
            padding-bottom: 0.2em;
        }
    }
}


.active {
    color: $main-DColor !important;
}