$heightNav: 3.7em;

.navMain {
    height: $heightNav;
    background: {
        color: $bg-DScndColor;
        image: url(./media/navBg.png);
        repeat: no-repeat;
        size: cover;
    };
    position: fixed;
    z-index: 100;
    left: 0;
    right: 0;
    text-transform: uppercase; 
    @include md {
        display: none;
    }
    &__container {
        width: 80%;
        height: 100%;
        display: flex;
        align-items: center;
        margin: auto;
        gap: 0 2.5em;
        @include lg {
            width: 87%;
        }
        .container__logo {
            margin: auto;
            a {
                width: 9em;
                cursor: pointer;
                @include hd {
                    width: 7em;
                }
            }
        }
        .container__menu {
            height: $heightNav;
            ol {
                height: $heightNav;
                align-items: center;
                display: flex;
                gap: 2.25em;
                .guidesSubMenu {
                    position: relative;
                    height: $heightNav;
                }
                a {   
                    color: $scnd-DColor;
                    &:hover {
                        color: #fad081;
                    }
                }
            }
        }

    }
}


.container__user {
    flex-grow: 1;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    .language__show {
        color: $scnd-DColor;
        font-size: 1.25em;  
        font-weight: 600;
        cursor: pointer;
        &:hover {
            color: #fad081;
        }
    }
    .user__language {
        display: flex;
        align-items: center;
        height: 100%;
        position: relative;
        width: 6em;
        justify-content: center;
    }
}

// ! USUARIO DESLOGEADO:
.user__loggedOut {
    display: flex;
    height: inherit;
    align-items: center;
    .user__register, .user__login {
        height: 52.5%;
        display: flex;
        font-weight: 600;
        align-items: center;
    }
    .user__register {
        width: 9em;
        background: linear-gradient(180deg, #ffedb7 0, #ffb23ff5 121%);
        border-radius: 0.15em;
        cursor: pointer;
        @include hd {
            font-size: 0.9em;
        }
        &:hover {
            background: none;
            background: linear-gradient(180deg, #fce6b4 0, #fc8704e6 121%);
        }
        a {
            color: #14171f;
            font-weight: 700;
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
    .user__login {
        padding: 0 1.2em 0 2em;
        a {
            color: #fad081; 
            font-size: 1.2em;
            position: absolute;
            transition: color, font-size, .5s;
            &:hover {
                color: $main-DColor;
                font-size: 1.4em;        
            }
        }
    }
}

// ! USUARIO LOGEADO:
.user__logged {
    display: flex;
    color: $scnd-DColor;
    width: 15em;
    height: 100%;
    .logged__btn {
        height: 100%;
        width: 100%;
        background: linear-gradient(180deg, #1e2029 -43%, #14151c 100%);
        margin: auto;
        gap: 0.6em;
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: bold;
        cursor: pointer;
        &:hover {
            color: #fad081;
        }
        .fa-angle-down {
            width: min-content;
            padding-bottom: 0.2em;
        }
    }
}

.active {
    color: $main-DColor !important;
}


// ! SUBMENUS
.subMenu {
    position: absolute;
    z-index: 90;
    top: $heightNav;
    background-color: #14151c;
    text-align: center;
    width: inherit;
    a {
     color: $scnd-DColor;
    }
    .list__item {
        font-weight: 400;
        padding: 0.45em 0;
        border: 0.1em solid #1e1f26;
        border-right: none;
        border-left: none;
        width: 100%;
        cursor: pointer;
        transition: color, 1s;
        &:first-child {
            border-top: none;
        }
        &:hover {
            color: #fad081;
        }
    }
}
