.countdown {
    display:flex;
    font-weight: 600;
    justify-content: center;
}

.countdown__item {
    display: flex;
    flex-direction: column;
    margin: 1.5em 0.5em;
    align-items: center;
}

.item__txt, .num__days, .num__hours, .num__mins, .num__secs, .countdown__title  {
    @include mDegrade(linear-gradient(180deg, #ffedb7 18%, #ffa115f5 100%));
}
.countdown__title {
    font-size: 2.25em;
    font-weight: 600;
    line-height: 1em;
    @include hd {
        font-size: 1.6em;
    }
    @include lg {
        font-size: 1.9em;
    }
}
.item__txt {
    @include hd {
        font-size: 0.9em;
    }
}

.item__num {
    background-image: url(./media/bg.png);
    background-repeat: no-repeat;
    font-size: 2em;
    width: 2em;
    background-size: cover;
    height: 1.7em;
    display: grid;
    place-items: center;
    @include hd {
        font-size: 1.75em;
    }
    @include lg {
        font-size: 2em;
        line-height: 1em;
    }
}
