.access {
    height: 100vh; 
    background-image: url(./media/logInBg.png);
    background-size: cover;
    background-position: center;
    display: grid;
    place-content: center;
    text-align: center;
    letter-spacing: 0.08em;
    .access__container {
        background: #090a0e30;
        padding: 5em 6em;
        font-size: 1.1em;
        @include r2k {
            margin-top: 2em;
        }
        @include fhd {
            margin-top: 0;
        }
        @include hd {
            margin-top: 3em;
            padding: 4em 6em;
        }
        .access__title {
            font-size: 2em;
            line-height: 2em;
            text-transform: uppercase;
            margin-bottom: 0.75em;
            @include mDegrade(linear-gradient(180deg, $hover-DColor 0%, #9d9d9d 100%));
        }
    }
    @include btnD('acc', #12151a, #c9bda3, rgba(#c9bda3, 0.85), rgba(#b69d6b, 0.85), rgba(#c9bda3, 0.85), rgba(#b69d6b, 0.85),$bg-DColor, $bg-DColor, $bg-DColor, $bg-DColor, 16.5em);
    .btnD-container{
        margin: 0 auto;
            &:hover {
            background: linear-gradient(180deg, rgb(255 238 201 / 96%) 0, rgb(215 179 99) 121%);
        }
    }
}

.access__redirect {
    color: $scnd-DColor;
    border-bottom: 0.1em solid $scnd-DColor;
    border-style: dotted;
    &:hover {
        color: $main-DColor;
        border-bottom: 0.1em solid $main-DColor;
        border-style: dotted;
    }
}

.access__input {
    width: 16.75em;
    margin: 1em auto 0;
    color: #99998b;
    background-color: #131417c9;
    border: 0.1em solid transparent;
    border-image: linear-gradient(90deg, #4b443700, 29%, #66666642, 70%, #4b443700);
    border-image-slice: 1;
    border-right: none;
    border-left: none;
    outline: none;
    padding: 0.7em;
    text-align: center;
    letter-spacing: 0.08em;
    &::placeholder {
        color: #666666;
    }
    &:focus-visible, &:focus {
        color: #ddcaa7;
        border: 0.1em solid transparent;
        border-image: linear-gradient(90deg,#4b443700, 29%, #ffe4b2, 70%, #4b443700);
        border-image-slice: 1;
        border-right: none;
        border-left: none;
    }
}

.errorMsg {
    color: #af0000;
    display: block;
    margin: 0.25em auto;
}

.form__signup, .access__remember, .form__login, .access__terms  {
    display: inline-flex;
    gap: 0.5em;
    margin-top: 0.75em;
    color: $scnd-DColor;
    .access__redirect {
        padding-bottom: 0.2em;
    }
}

.access__terms, .access__remember {
    margin-top: 1.5em;
}

.code__container {
    display: flex;
    flex-direction: column;
    .resendCode {
        cursor: pointer;
        width: max-content;
        align-self: end;
        margin: 0.37em 0.3em 0 0;
        font-size: 0.85em;
    }
}

@include checkBoxDark(#9f8b62, #12151a);