.logIn__form {
    position: relative;
    .form__lostPsw {
        position: absolute;
        right: 0;
        margin-top: 0.75em;
    }
    .access__confirm {
        margin: 5em auto 0;
    }
}

