.logIn__form {
    position: relative;
    .form__lostPsw {
        position: absolute;
        right: 0;
        margin-top: 0.75em;
    }
    .form__signup {
        display: inline-flex;
        gap: 0.3em;
        margin-top: 0.75em;
        color: $scnd-DColor;
        .access__redirect {
            padding-bottom: 0.2em;
        }
    }
    .access__confirm {
        margin: 5em auto 0;
    }
}

