.races__container {
    width: 57vw;
    height: 60vh;
    position: relative;
    background: {
        image: url(./media/modalHeroBg.png);
        size: cover;
        repeat: no-repeat;
    }
    border-radius: 2%;
    .container__hero {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 6em 7.5em;
        height: 100%;
        h3 {
           font-weight: 400;
           font-size: 1.2em;
           color: #998f66;
        }
        span {
            color: #dbdbdb;
        }
        p {
            color: $scnd-DColor;
            margin-bottom: 0.2em;
        }
        .hero__details {
            display: flex;
            margin: 1.5em 0;
                .details__right {
                    margin-left: 2em;
                }
                .details__left, .details__right {
                    div {
                        display: flex;
                    }
                }
            }
        }
        .hero__about, .hero__skills {
            h3 {
                margin-bottom: 0.75em;
            }
        }
        .hero__about {
            margin: 0.5em 0;
            max-width: 26em;  
            i {
                font-style: italic;
            }
        }
        .hero__skills {
            margin-top: 1.5em;
            height: 8em;
            img {
                cursor: crosshair;
                width: 2.1em;
                border-radius: 16%;
                border: 0.1em solid $bg-DScndColor;
            }
            .skills__pasive {
                display: flex;
                align-items: center;
                margin-bottom: 1em;
                gap: 1em;
            }
            .skills__active {
                display: flex;
                gap: 1.2em;
                img {
                    filter: grayscale(100%);
                    &:hover {
                        filter: none;
                    }
                }
            }
        }
        .control__modal {
            position: absolute;
            top: 2em;
            right: 3em;
            display: flex;
            gap: 1em;
            .next__race, .close__modal, .next__hero {
                width: 3em;
                height: 3em;
                background-color: rgb(54 54 54);
                border-radius: 100%;
                border: 0.1em solid #3a3a3a;
                cursor: pointer;
                transition: border 1s;
                &:hover {
                    border: 0.1em solid $scnd-DColor;
                }
            }
            .hero__icon, .race__icon, .close__icon {
                font-size: 1.4em;
                margin-top: 0.1em;
                color: $scnd-DColor;
            }
        }
}


