@mixin newType () {
    background: rgba(136, 25, 138, 0.75); 
    color: $main-DColor;
    text-transform: uppercase;
    padding: 0.1em 1.1em;
    letter-spacing: 0.15em;
    text-align: center;
    width: max-content;
    font-size: 0.75em;
    font-weight: 600;
    &-Updates {
        background: rgba(70, 149, 42, 0.75); 
    }
    &-Curiosidades,
    &-Curiosities {
        background: rgba(184, 98, 19, 0.75) 
    }
    &-Comunidad,
    &-Community {
        background: rgba(63, 86, 198, 0.75); 
    }
    &-Server {
        background: rgba(9, 57, 129, 0.75); 
    }
}

.cardNew {
    color: rgba($bg-DColor, .75);
    background: $main-DColor;
    background-size: contain;
    background-repeat: no-repeat;
    border: 0.1em solid $main-DColor;
    height: 28.75em;
    width: 27em;
    cursor: grab;
    border-radius: 0.4em;
    position: relative;
    transition: border-top .5s;
    &:hover {
        border-top: 0.5em solid rgba(136, 25, 138, 0.75); 
    }
    &__container {
        padding: 2.4em;
        .container__item {
            margin-bottom: 1.25em;
        }
        .container__title {
            color: $bg-DColor;
            font-weight: 600;
            font-size: 1.25em;
        }
        .container__type {
            @include newType();
        }
        .container__date {
            font-weight: 600;
        }
        .container__intro {
            margin-top: 2.25em;
            line-height: 1.75em;
            font-size: 1.1em;
        }
        a {
            .container__readMore {
                @include btnTemplate (rgba($bg-DColor, .75), $main-DColor, $bg-DColor, $main-DColor, 66%, 2.5em );
                position: absolute;
                right: 0;
                left: 0;
                bottom: 1em;
                margin: auto;
                padding: 0;
                transition: width 1.5s;
            }
        }
        &:hover > a > .container__readMore {
            width: 100%;
            background: $bg-DColor;
        }
    }
}

.Updates:hover {
    border-top: 0.5em solid rgba(70, 149, 42, 0.75); 
}
.Curiosidades:hover,
.Curiosities:hover {
    border-top: 0.5em solid rgba(184, 98, 19, 0.75) 
}
.Comunidad:hover,
.Community:hover {
    border-top: 0.5em solid rgba(63, 86, 198, 0.75); 
}
.Server:hover {
    border-top: 0.5em solid rgba(9, 57, 129, 0.75); 
}

.newsBg0 {
    background-image: url(./media/newsBg0.png);
}
.newsBg1 {
    background-image: url(./media/newsBg1.png);
}
.newsBg2 {
    background-image: url(./media/newsBg2.png);
}
.newsBg3 {
    background-image: url(./media/newsBg3.png);
}
.newsBg4 {
    background-image: url(./media/newsBg4.png);
}
.newsBg5 {
    background-image: url(./media/newsBg5.png);
}