
.notFound {
    display: grid;
    place-content: center;
    height: 100vh;
    width: 100%;
    position: relative;
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    background-image: url(media/bg.png);
    z-index: 0;
    &__bg {
        background: radial-gradient(#4811008a -25%, #000 62%);
        position: absolute;
        z-index: 50;
        width: 100%;
        height: 100vh;
        left: 0;
        top: 0;
    }
    &__msg {
        display: flex;
        flex-direction: column;
        gap: 4em;
        text-align: center;
        position: relative;
        z-index: 100;  
        h2 {
            color: #871e00;
            font-weight: bold;
            text-transform: uppercase;
            font-size: 6em;
        }
        p {
            font-size: 2em;
            color: $scnd-DColor;
        }

    }
}
