.heroes__slider {
    position: fixed;
    z-index: 25;
    margin: auto;
    width: 34vw;
    bottom: 0;
    left: 0;
    right: 0;
    cursor: grab;
    @include lg {
        width: 50vw;
    }
    .slick-next {
        right: -150px !important;
        @include r2k {
            right: -112px !important;
        }
        @include fhd {
            right: -75px !important;
        }
        &:before {
            font-size: 72px !important;
            text-shadow: 0px 0px 0.2em #4d4e4e;
            @include r2k {
                font-size: 54px !important;
            }
            @include fhd {
                font-size: 36px !important;
            }
        }
    }
    .slick-prev {
        left: -150px !important;   
        @include r2k {
            left: -112px !important;
        }
        @include fhd {
            left: -75px !important;
        }
        &:before {
            font-size: 72px !important;
            text-shadow: 0px 0px 0.2em #4d4e4e;
            @include r2k {
                font-size: 54px !important;
            }
            @include fhd {
                font-size: 36px !important;
            }
        }
    }
    .slick-initialized .slick-slide.slick-active {
        z-index: 1;
      }
}