.premium {
    display: grid;
    place-content: center;
    height: 100vh;
    z-index: 0;
    background-repeat: no-repeat;
    background-image: url(./media/bg.png);
    background-size: contain;
    background-position-y: $heightNav;
    color: $bg-DColor;
    text-align: center;
    @include r2k {
        background-size: cover;
    }
    @include hd {
        height: 115vh;
    }
    @include lg {
        height: 100vh;
    }
    &--coming, .countdown__custom {
        text-transform: uppercase;
        position: absolute;
        left: 0;
        right: 0;
        top: 9em;
        font-size: 1.1em;
        color: $bg-DScndColor;
        font-weight: bold;
        border-bottom: 0.125em solid $bg-DScndColor;
        border-top: 0.125em solid $bg-DScndColor;
        max-width: 100%;
        width: 17em;
        margin: auto;
        padding: 0.5em 0;
        @include r2k {
            top: 5.75em;
        }
        @include fhd {
            top: 8.8em;
        }
    }
    &--title {
        font-size: 2.5em;
        line-height: 2em;
    }
    &--subTitle {
        color: $bg-DScndColor;
        font-size: 1.3em;
    }
    &--container {
        margin-top: 9em;
        display: grid;
        @include fhd {
            margin-top: 16em;
        }
        @include hd {
            margin-top: 21em;
        }
        .countdown__custom {
            @include r2k {
                display: none;
            }
            @include fhd {
                display: block;
            }
            @include hd {
                display: none;
            }
        }
        .package--container {
            margin-top: 3.5em;
            display: flex;
            gap: 1.5em;
            padding: 2em;
            @include fhd {
                margin-top: 2.5em;
            }
        }
    }
    .faq {
        color: $scnd-DColor;
        padding-bottom: 0.2em;
        border-bottom: 0.1em solid $scnd-DColor;
        width: max-content;
        margin: auto;
        font-size: 1.2em;
        @include r2k {
            margin-bottom: 6.1em;
        }
        @include hd {
            margin-bottom: 14em;
        }
        &:hover {
            color: $main-DColor;
            border-bottom: 0.1em solid $main-DColor;
            transition: color border 1s;
        }
    }
} 