.hero {
    height: 100vh;
    text-align: center;
    background-color: #FFE7AB;
    text-transform: uppercase;
    display: grid;
    place-content: center;
    &__content {
      position: relative;
      z-index: 70;
      bottom: 1em;
    }
    &__bg--opacity {
      background: linear-gradient(251.4deg, rgba(25, 25, 26, 0.66) 18.83%, rgba(25, 25, 26, 0.6) 49.66%, rgba(25, 25, 26, 0) 100%);
      position:absolute;
      z-index: 60;
      width: 100%; 
      height: 100vh;
      left: 0;
      top: 0;
    }
    &__bg {
      position: absolute;
      opacity: 0.75;
      z-index: 50;
      top: -$heightNav;
      left: 0;
      bottom: 0;
      right: 0;
      overflow: hidden;
    }
  }
  
// Boton clasic acceso al beta -> mixin button component 
@include btnC('JoinBeta', #19191ad1, #d6c58d, #cba74f, #19191ad1 );