// Btn Template
@mixin btnTemplate ($bgColor: none,
                    $txtColor: #000, 
                    $HBgColor : $txtColor, 
                    $HTxtColor: $bgColor, 
                    $width: 19.5em, 
                    $height: 3em ) {
    width: $width;
    height: $height;
    background: $bgColor;
    color: $txtColor;
    font-weight: bold;
    letter-spacing: 0.15em;
    text-transform: uppercase;
    cursor: pointer;
    &:hover {
        color: $HTxtColor;
        background: $HBgColor;
        transition-duration: 1.5s;
    }
}

// Classic Btn
@mixin btnC ($name, 
                $bgColor: none, 
                $txtColor: #000, 
                $HBgColor : $txtColor, 
                $HTxtColor: $bgColor, 
                $width: 19.5em, 
                $height: 3em ) {
    .btnC-#{$name} {
        @include btnTemplate($bgColor, $txtColor, $HBgColor, $HTxtColor, $width, $height );
        border: 0.1em solid $txtColor;
        &:hover {
            border: 0.1em solid $HTxtColor;
        }
    }
}

// Btn Degrade
@mixin btnD ($name, 
                $bgColor: none, 
                $txtColor: $bg-DColor,
                $borderD1Color: #c9bda3,
                $borderD2Color: #b69d6b,
                $txtD1Color: #cdcdcd,
                $txtD2Color: #7e724a,
                $txtD1HColor: #131416,
                $txtD2HColor: #3d3410,
                $HBgColor : $txtColor, 
                $HTxtColor: $bgColor, 
                $width: 19.5em, 
                $height: 3em ) {
    .btnD-container {
        background: $bgColor;
        width: $width;
        &:hover {
            background: linear-gradient(180deg, $borderD1Color 0, $borderD2Color 121%);
        }
        .btnD-#{$name} {
            @include btnTemplate($bgColor, $txtColor, $HBgColor, $HTxtColor, 100%, $height );
            border: 0.1em solid transparent;
            border-image: linear-gradient(180deg, $borderD1Color 0, $borderD2Color);
            border-image-slice: 1;
            background: linear-gradient(180deg, $txtD1Color 0%, $txtD2Color 100%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            background-clip: text;
            &:hover {
                border: $HBgColor;
                background: linear-gradient(180deg, $txtD1HColor 0%,  $txtD2HColor 100%);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                background-clip: text;
            }
        }
    }
}