@include modalTemplate;

.notifications {
    width: 33vw;
    height: 33vh;
    padding: 6em 0;
    text-align: center;
    background-image: url(./media/bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    h2 {
        font-size: 1.4em;
        font-weight: 600;
        margin-bottom: 1em;
    }
    p {
        font-size: 1.1em;
        line-height: 1.6em; 
    }
    .container__description {
        padding: 0 4em;
        .confirmation{
            display: flex;
            justify-content: center;
            gap: 1em;
        }
        .btnC-container {
            display: flex;
            justify-content: center;
            margin-top: 2em;
        }
    }
 }

  
.error {
    box-shadow: 0px 0px 12.1em #aa00001a;
    @include btnC('notification', none, #ff2727a3, #ff2727a3, $main-DColor, 13em, 3em );
    h2 {
        color: $error;
    }
    p {
        color: #ff2727a3;
    } 
}
.success {
    box-shadow: 0px 0px 12.1em #0d1b00;
    @include btnC('notification', none, #08a608b8, #08a608b8, $main-DColor, 13em, 3em );
    h2 {
        color: $success;
    }
    p {
        color: #08a608b8;
    } 
}
.announce {
    box-shadow: 0px 0px 12.1em #202020;
    @include btnC('notification', none, $scnd-DColor, $scnd-DColor, $main-DColor, 13em, 3em );
    h2 {
        color: $main-DColor;
    }
    p {
        color: $scnd-DColor;
    } 
}