.container__menu .guidesSubMenu {
    display: flex;
    justify-content: center;
    align-items: center;
    .subMenu {
       width: 11em;
       ol {
           flex-direction: column;
           gap: 0;
           height: initial;
       }
       .list__item {
           width: 11em;
       }   
    }
}