/* FUENTES */
@import 'fonts/_bfort.scss'; 

/* ABSTRATCS IMPORTS */
@import 'styles/_breakpoints',
        'styles/_customs',
        'styles/_default',
        'styles/_inputs';
        

/* COMPONENTS IMPORTS */
@import 'components/globals/buttons/classicBtn/_classicBtn', // Template Boton clásico
        'components/globals/buttons/premiumBtn/_premiumBtn', // Boton Premium Access (fixed bottom)
        'components/globals/buttons/playBtn/_playBtn', // Boton Play video
        'components/globals/buttons/fixedAction/_fixedAction', // Boton Fixed noticias

        'components/globals/countdown/_countdown', // Cuenta regresiva

        'components/globals/modals/_modal', // Template modal básico
        'components/globals/modals/notifications/_notifications', // Modales de notificación
        'components/globals/modals/donate/_donate', // Modales de donaciones
        'components/globals/modals/playVideo/_playVideo', // Modal play Media

        'components/globals/tooltip/_muiTooltip', // Tooltip MUI

        'components/globals/navMain/_navMain', // Navegación principal
        'components/globals/navMain/guidesSubMenu/_guidesSubMenu', // Navegación principal
        'components/globals/navMain/language/_lang', // Selección de idiomas
        'components/globals/navMobile/_navMobile'; // Navegación mobile


/* PAGES IMPORTS */
@import 'components/pages/hero/_hero', // ! MAIN ARRIVAL - INDEX / HOME

        'components/pages/news/_news', // ! ANUNCIOS
        'components/pages/news/cardNew/_cardNew', // Tarjeta noticia
        'components/pages/news/slider/_sliderNews', // Slider noticias
        'components/pages/news/newsExtend/_newsExtend', // Noticia extendida

        'components/pages/guides/_guides', // ! GUÍA DE JUEGO | GAME INFO
        'components/pages/guides/about/_about', // ? Sobre NL
        'components/pages/guides/gameplay/_gameplay', // ? Modos de juego
        'components/pages/guides/heroes/_heroes', // ? Heroes
        'components/pages/guides/heroes/slider/_sliderHeroes', // Slider Heroes
        'components/pages/guides/heroes/slider/heroSlide/_heroSlide', // Slide Hero
        'components/pages/guides/heroes/modalHeroes/_mHeroes', // Modal Heroes 
        'components/pages/guides/arenas/_arenas', // ? Arenas
        'components/pages/guides/arenas/arenaExtend/_arenaExtend', // Extensión de arena
        'components/pages/guides/boosts/_boosts', // ? Modal Boosts
        'components/pages/guides/install/_install', // ? Guía de instalación
        'components/pages/guides/install/box/installBox', // Box steps de instalación

        'components/pages/story/_story', // ! STORY (arrival)
        'components/pages/story/storyExtend/_storyExtend', // Episodio 1/2 & 3

        'components/pages/access/_access',  // ! ACCESO DE USUARIO
        'components/pages/access/register/_register', // ? Registro
        'components/pages/access/logIn/_logIn',  // ? Inicio de sesión
        'components/pages/access/lostPsw/_lostPsw', // ? Perdida de pw
        'components/pages/access/changePsw/_changePsw', // ? Cambio de contraseña

        'components/pages/premium/_premium', // ! ACCESO PREMIUM
        'components/pages/premium/package/_package', // package box

        'components/pages/userPanel/_userPanel', // ! PANEL DE USUARIO
        'components/pages/userPanel/userProfile/_userProfile', // user box

        'components/pages/notFound/_notFound'; // ! NOT FOUND
        
