
$play-bg: rgba(46, 49, 64, 0.75);;
$play-txt: #60626d;
$play-hover: #ffffff;

.position {
    position: relative;
    bottom: -4.4em;
    z-index: 1;
    @include r2k {
        bottom: -3.65em;
    }
    @include fhd {
        bottom: -6.3em;
    }
    @include hd {   
        bottom: -2.75em;
    }
    @include lg {   
        bottom: -1.1em;
    }
    .playBtn {
        width: 5em;
        height: 5em;
        border-radius: 50%;
        background-color: $play-bg;
        position: relative;
        cursor: pointer;
        margin: auto;
        border: 0.15em solid #11111d;
        &:hover {
            border: 0.15em solid $play-hover;
            transition-duration: 0.75s;
            .playIcon {
                transition-duration: 0.75s;
                background-color: $play-hover;
            }
        }
        .playIcon {
            width: 1em;
            height: 1em;
            margin: auto;
            background-color: $scnd-DColor;
            clip-path: polygon(100% 50%, 0 0, 0 100%);
            position: relative;
            z-index: 5;
            left: 0.15em;
        }
    }
    .playBtn::after, .playBtn::before {
        content: "";
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        border-radius: 50%;
    }
    .playBtn::after {
        background-color: rgba(46, 49, 64, 0.55);
        z-index: 15;
        animation: pulse 1000ms infinite;
    }
}


.playTxt {
    text-transform: uppercase;
    color: #5f6274;
    position: relative;
    bottom: -2em;
    text-shadow: 0.1em 0.2em 0.2em #121218;
}



@keyframes pulse {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(1.3);
    }
}
