.story {
    height: 100vh;
    background-image: url(./media/storyBg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: grid;
    place-content: center;
    text-align: center;
    &__bg--opacity {   
        background: radial-gradient(#2727378a 53%, #0e0f14);
        position:absolute;
        z-index: 60;
        width: 100%; 
        height: 100vh;
        left: 0;
        top: 0;
    } 
}

.story__container {
    position: relative;
    z-index: 70;
    margin-bottom: 8em;
    .container__logoEp1 {
        width:9em;
        margin: 0 auto 1.5em;
    }
    .container__epNum {
        text-transform: uppercase;
        font-size: 1.2em;
        margin: 0.75em 0;
    }
    .container__epTitle {
        font-size: 2em;
        color: #e3b252;
    }
    .btnD-container {
        margin: 2em auto 1em;
    } 
    @include btnD('story', #17161c, rgba(#e3b252, .75), rgba(#e3b252, .99), rgba(#e3b252, .75), rgba(#e3b252, .75), rgba(#e3b252, .75),$bg-DColor, $bg-DColor, $bg-DColor, $bg-DColor, 18.5em);
    .container__leyend {
        font-size: 1.1em;
        color: rgba($main-DColor, .75)
    }

}

