.fixedAction {
    position: fixed;
    background: #c3c3c33b;
    width: 4em;
    height: 4em;
    right: 3em;
    bottom: 3em;
    border: 0.1em solid #e1e1e1;
    border-radius: 100%;
    color: #131416c4;
    display: grid;
    place-items: center;
    box-shadow: 0 0 1.5em #c6c6c6;
    cursor: pointer;
    &:hover {
        width: 4.5em;
        height: 4.5em;
        color: $bg-DColor;
        transition: width, height, color, 1.5s;
        .svg {      
            font-size: 2em;
            transition: font-size,  1.5s;
        }
    }
    .svg {
        font-size: 1.5em;
    }
}