.aboutNL {
    text-align: center;
    height: 200vh;
    background: url(./media/bg_intro.png);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    letter-spacing: 0.08em;
    width: 100%;
    overflow-x: hidden;
    &__intro, &__changes {
        height: 100vh;
        width: 45%;
        margin: auto;
        display: grid; 
        place-content: center;
        .intro__title, .changes__title {
            color: $main-DColor;
            text-transform: uppercase;
            font-size: 2em;
            line-height: 2em;
            text-shadow: 0.1em 0.2em 0.2em #121218;
        }
        .intro__parraph, .changes__parraph {
            color: $scnd-DColor;
            margin: 3.5em 0;
            padding: 0 3em;
            line-height: 1.7em;
            font-style: italic;
            text-shadow: 0.1em 0.2em 0.2em #121218;
        }
        .changes__parraph {
            margin-bottom: 7em;
        }
    }
}

.title__deg {
    display: block;
    font-size: 1.1em;
    text-shadow: none;
    @include mDegrade(linear-gradient(1deg, #ffc845 0%, #cbc6b5 75%));
}


.changes__bgFight {
    position: absolute;
    bottom: 0;
    width: 33em;
    z-index: -1;
}

.changes__bgFight--right  {
    right: 0;
}

.changes__bgFight--left  {
    left: 0
}


