.register__form {
    .access__confirm {
    margin: 3em auto 0;
    }
    .form__login {
        display: inline-flex;
        gap: 0.3em;
        margin-top: 0.75em;
        color: $scnd-DColor;
        .access__redirect {
            padding-bottom: 0.2em;
        }
    }
}

.access__terms {
    color: $scnd-DColor;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5em;
    margin-top: 2.5em;
}