.subMenu {
    position: absolute;
    z-index: 90;
    top: $heightNav;
    background-color: #14151c;
    text-align: center;
    width: inherit;
   a {
    color: $scnd-DColor;
   }
    .list__item {
        font-weight: 600;
        padding: 0.45em 0;
        border: 0.1em solid #1e1f26;
        border-right: none;
        border-left: none;
        width: 100%;
        cursor: pointer;
        transition: color, 1s;
        &:first-child {
            border-top: none;
        }
        &:hover {
            color: #fad081;
        }
    }
    .list__info {

        .info__pack, .info__ncoins {
            color: #fad081
        }
    }
}

