/* Evitamos problemas con las imagenes */
img , picture , video , iframe , figure{
    max-width: 100%;
    width: 100%;
    display: block;
}

/* Nivelamos problemas de tipografías y colocación de formularios */
form , input, textarea, select , button , label{
    font-family: inherit;
    font-size: inherit;
    hyphens: auto;
    background-color: transparent;
    display: block;
    color:inherit;
}

/* Reseteamos los margins y paddings de todas las etiquetas */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video , button, button {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    vertical-align: baseline;
}
  
/* Reseteamos los enlaces para funcionar como cajas... */
a {
    display: block;
    &:hover {
        transition-property: color;
        transition-duration: 1.5s;
    }
}
/* ... excepto los que se encuentran en párrafos */
p a {
    display: inline;
}
  
/* Quitamos los puntos de los <li> */
li {
    list-style-type: none;
}
  
/* Configuramos anclas suaves */
html {
    scroll-behavior: smooth;
    font-size: 2em;
    @include r2k {
        font-size: 1.25em;
    }
    @include fhd {
        font-size: 1em;
    }
}
  
/* Desactivamos estilos por defecto de las principales etiquetas de texto */
h1 , h2 , h3 , h4 , h5 , h6 , p ,span , a , strong , blockquote , i , b , u , em {
    font-size: 1em;
    font-weight: inherit;
    font-style: inherit;
    text-decoration: none;
    padding: 0;
}

/* Evitamos problemas con los pseudoelementos de quotes */
blockquote:before, blockquote:after, q:before, q:after {
    content: '';
    content: none;
}
  
/* Reseteamos las tablas */
table , tr , td {
    border-collapse: collapse;
    border-spacing: 0;
}
  
/* Evitamos problemas con los SVG */
svg {
    width: 100%;
    display: block;
    fill: currentColor;
}

/* Configuramos la tipografía para toda la web */
body {
    min-height : 100vh;
    font-size : 100%;
    font-family : $main-typo, $scnd-typo;
    color : $main-DColor;
    background-color: $bg-DColor;
    line-height: 1.4em;
    letter-spacing: 0.06em;
    font-smooth: always;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.disNone {
    display: none;
}