// Mixin del template básico de los modales

@mixin modalTemplate() { 
    .modal {
        position: fixed; 
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        z-index: 600;
        background-color: rgba($bg-DColor, .85);
        display: grid;
        place-content: center; 
        &__close {
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            z-index: -5;
        }
        &__container {
            background-color: $bg-DColor;
            position: relative;
            display: grid;
            place-items: center;
            outline: none;
            border-radius: 0.3em;
            .modal__x {
                position: absolute;
                z-index: 5;
                right: 1em;
                top: 1em;
                font-size: 1.3em;
                cursor: pointer;
                color: $scnd-DColor;
                &:hover {
                    color: $main-DColor;
                }
            }
            iframe {
                height: 100%;
            }
        }
    }
}

