@mixin modalTemplate($width, $height) { 
    .modal {
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        z-index: 600;
        background-color: rgba($bg-DColor, .85);
        display: grid;
        place-content: center; 
        &__close {
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            z-index: -50;
        }
        &__container {
            width: $width;
            height: $height;
            background-color: $bg-DColor;
            display: grid;
            place-items: center;
            border: none;
            outline: none;
            iframe {
                height: 100%;
            }
        }
    }
}

@include modalTemplate(62vw, 65.89vh);